.chat-main
  .chat-main__group-info
    .main
      .group-name
        Group
      .edit
        =link_to "Edit", "#", class: "chat-main__btn--edit" 
    .member
      Member: Masa
  .chat-main__message-list
    .info
      .user-name
        Masa
      .date
        2020/04/13(Wed) 17:43:01
    .content
      おはよう！
    .info
      .user-name
        taka
      .date
        2020/04/13(Wed) 17:45:01
    .content
      おはよう！!
  .chat-main__message-form
    .form-box
      %input.text{placeholder: "type a message"}
      %label{class: "message-image"}
        = icon( 'fas', 'image')
        %input{type: "file"}
    %input.send-btn{type: "submit", value: "Send"}
