.side-bar
  .side-bar__user-name
    .innerbox
      .name
        masa
      .icon
        =link_to "#", class: "side-bar__btn--edit" do
          = icon('fas', 'edit')
        =link_to "#", class: "side-bar__btn--setting" do
          = icon('fas', 'cog')

  .side-bar__group-list
    .group1
      .group-name
        techcamp
      .new-message
        まだメッセージはありません
      .group-name
        ２つめ
      .new-message
        ２つめ



