.side-bar
  .side-bar__user-name
    .side-bar__user-name-innerbox
      .side-bar__user-name-name
        masa
      .side-bar__user-name-icon
        =link_to "#", class: "side-bar__btn__btn--edit" do
          = icon('fas', 'edit')
        =link_to "#", class: "side-bar__btn__btn--setting" do
          = icon('fas', 'cog')

  .side-bar__group-list
    .side-bar__group-list--group1
      .group_name
        techcamp
      .new_message
        まだメッセージはありません
      .group_name
        ２つめ
      .new_message
        ２つめ



